In [1]:
a = input('input please')

input please 10

In [2]:
a

'10'

In [3]:
type(a)

str

In [4]:
a = int(input('input please'))

input please 10

In [5]:
type(a)

int

### The actual syntax of the print() function is

In [9]:
# print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

In [10]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4

1 2 3 4
1*2*3*4
1#2#3#4&

In [11]:
a = 10
b = 20
c = a + b

In [45]:
#Normal string concatenation
print("sum of", a , "and" , b , "is" , c) 

#convert variable into str
print("sum of " + str(a) + " and " + str(b) + " is " + str(c)) 

# if you want to print in tuple way
print("Sum of %s and %s is %s: " %(a,b,c))  

#in case you want to use repr()
print("sum of " + repr(a) + " and " + repr(b) + " is " + repr(c))

sum of 10 and 20 is 30
sum of 10 and 20 is 30
Sum of 10 and 20 is 30:
sum of 10 and 20 is 30

### New style string formatting

In [13]:
print("sum of {} and {} is {}".format(a,b,c)) 
print("sum of {0} and {1} is {2}".format(a,b,c))

sum of 10 and 20 is 30
sum of 10 and 20 is 30

In [14]:
print('I love {0} and {1}'.format('bread','butter'))
# Output: I love bread and butter

print('I love {1} and {0}'.format('bread','butter'))
# Output: I love butter and bread

I love bread and butter
I love butter and bread

In [15]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

### We can even format strings like the old sprintf() style used in C programming language. We use the % operator to accomplish this

In [28]:
x = 12.3456789
y = 11.2333455

In [17]:
print('The value of x is %3.2f' %x)

The value of x is 12.35

In [18]:
print('The value of x is %.2f' %x)

The value of x is 12.35

In [30]:
print('The value of x is {0:.2f} y is {1:.2f}'.format(x,y))

The value of x is 12.35 y is 11.23

In [33]:
print('The value of x is {}'.format(round(x,3)))

The value of x is 12.346

### New formatted string

In [47]:
print(f'the value of x is {x} and y is {y}')

the value of x is 12.3456789 and y is 11.2333455

### For floating point

In [48]:
print(f'the value of x is {x:.2f}')

the value of x is 12.35

In [42]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [40]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678